<div class="container">
  <div class="logo">
    <h1 style="font-size: 25px;">Cashier Apps</h1>
    <p style="font-size: 12px;">Jl. Cibungkul RT.03 RW.15 Kel. Sukamajukaler Kec. Indihiang Kota Tasikmalaya, 46151</p>
  </div>
  <div class="center">
    ------------------------------------------------------------
  </div>
  <div style="font-size: 12px;">
    No. Transaksi: <%= transaksi.no_trx %>
  </div>
  <div class="text" style="font-size: 12px;">Kasir: <%= user.username %></div>
  <div class="center">
    ------------------------------------------------------------
  </div>
  <div class="text" style="font-size: 12px;">Nama Pelanggan: <%= transaksi.nama_pelanggan %></div>
  <div class="text" style="font-size: 12px;">Tanggal Beli: <%= transaksi.tanggal %></div>
  <div class="center">
    ------------------------------------------------------------
  </div>
  <table>
    <tr>
      <th>
        Barang
      </th>
      <th>
        Qty
      </th>
      <th>
        Harga
      </th>
    </tr>
    <% let total=0;%>
      <% let totalBayar=0;%>
        <% detail.forEach(det=> { %>
          <tr>
            <td>
              <%= det.nama_barang %>
            </td>
            <td>
              <%= det.jumlah %>*<%= det.harga %>
            </td>
            <td>
              Rp<%= det.harga * det.jumlah %>
                <% total=det.harga * det.jumlah %>
                  <% totalBayar +=total %>
            </td>
          </tr>
          <% }); %>
  </table>
  <div class="center">
    ------------------------------------------------------------
  </div>
  <div class="pembayaran">
    <div style="font-size: 12px;">Total: Rp<%= totalBayar.toLocaleString('id-ID') %>
    </div>
    <div style="font-size: 12px;">Tunai: Rp<%= transaksi.bayar.toLocaleString('id-ID') %>
    </div>
    <% let kembalian=transaksi.bayar - totalBayar %>
      <div style="font-size: 12px;">Kembalian: Rp<%= kembalian.toLocaleString('id-ID') %>
      </div>
  </div>
</div>