<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <% let laba = 0;%>
    <% let omset = 0;%>
    <% detail.forEach(det => {
      laba += (det.harga - det.harga_beli) * det.jumlah
      omset += det.harga * det.jumlah
    }); %>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Omset</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rp<%= omset.toLocaleString('id-ID') %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-cash-register fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-md-4 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Laba</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rp<%= laba.toLocaleString('id-ID') %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-coins fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-md-4 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Jumlah</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= transaksi.length %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header">
      <form class="form-inline" action="/transaksi/sort" method="POST">
        <div class="form-group mb-2">
          <input type="date" class="form-control" name="awal">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input type="date" class="form-control" name="akhir">
        </div>
        <button type="submit" class="btn btn-primary btn-sm mb-2 mr-2"><i class="fas fa-search"></i> Cari</button>
        <a href="/transaksi" class="btn btn-danger btn-sm mb-2">Reset</a>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>No Transaksi</th>
              <th>Nama Lengkap</th>
              <th>Tanggal</th>
              <th>Bayar</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% let no=1; %>
              <% transaksi.forEach(element=> { %>
                <tr>
                  <td>
                    <%= no++ %>
                  </td>
                  <td>
                    <%= element.no_trx %>
                  </td>
                  <td>
                    <%= element.nama_pelanggan %>
                  </td>
                  <td>
                    <%= element.tanggal %>
                  </td>
                  <td>
                    Rp<%= element.bayar.toLocaleString('id-ID') %>
                  </td>
                  <td>
                    <a href="/invoice/<%= element.no_trx %>" target="_blank" class="btn btn-info btn-sm"><i
                        class="fas fa-print"></i></a>
                    <a href="/transaksi/<%= element.no_trx %>" class="btn btn-primary btn-sm"><i
                        class="fas fa-eye"></i></a>
                    <button type="button" data-toggle="modal" data-target="#editTransaksi<%= element.no_trx %>"
                      class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>

                    <div class="modal fade" id="editTransaksi<%= element.no_trx %>" tabindex="-1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit transaksi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="POST" action="/transaksi/update">
                            <div class="modal-body">
                              <div class="form-group">
                                <input type="hidden" name="trx" value="<%= element.no_trx %>">
                                <label>Nama pelanggan:</label>
                                <input type="text" name="nama_pelanggan" class="form-control"
                                  value="<%= element.nama_pelanggan %>" required>
                              </div>
                              <div class="form-group">
                                <label>Bayar:</label>
                                <input type="number" name="bayar" class="form-control" value="<%= element.bayar %>"
                                  required>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                              <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <form action="/transaksi/delete?_method=DELETE" method="POST" class="d-inline">
                      <input type="hidden" name="trx" value="<%= element.no_trx %>">
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                    </form>
                  </td>
                </tr>
                <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->