<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>No Transaksi</th>
              <th>Nama Lengkap</th>
              <th>Tanggal</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% let no=1; %>
              <% transaksi.forEach(element => { %>
                <tr>
                  <td>
                    <%= no++ %>
                  </td>
                  <td>
                    <%= element.no_trx %>
                  </td>
                  <td>
                    <%= element.nama_pelanggan %>
                  </td>
                  <td>
                    <%= element.tanggal %>
                  </td>
                  <td>
                    <a href="/invoice/<%= element.no_trx %>" target="_blank" class="btn btn-info btn-sm"><i class="fas fa-print"></i></a>
                    <a href="/transaksi/<%= element.no_trx %>" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                    <button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                    <form action="/transaksi/delete?_method=DELETE" method="POST" class="d-inline">
                      <input type="hidden" name="trx" value="<%= element.no_trx %>">
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                    </form>
                  </td>
                </tr>
                <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->