<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="POST" action="/addCart">
                        <div class="form-group">
                            <% const d = new Date(); %>
                            <input type="hidden" name="idCart" value="<%= d.getTime() %>">
                            <label>Pilih Barang:</label>
                            <select class="form-control" name="id_barang">
                                <% goods.forEach( good=> { %>
                                    <option value="<%= good.id %>">
                                        <%= good.nama_barang %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Qty</label>
                            <input type="number" class="form-control" name="jumlah" placeholder="Jumlah">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-cart-plus"></i> Tambah
                            ke keranjang</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="POST" action="/checkout">
                        <div class="form-row">
                            <div class="col">
                                <input type="hidden" class="form-control" name="no_trx" value="TRX<%= d.getTime() %>">
                                <div class="form-group">
                                    <label>Pelanggan:</label>
                                    <input type="text" class="form-control" name="nama_pelanggan">
                                    <!-- <select class="form-control">
                                        <option selected>Pilih</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Tanggal:</label>
                                    <input type="date" class="form-control" name="tanggal">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Pembayaran:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rp</span>
                                        </div>
                                        <input type="number" class="form-control" name="bayar" placeholder="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-save"></i>
                            Selesai</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Barang</th>
                            <th>Vendor</th>
                            <th>Qty</th>
                            <th>Harga(pcs)</th>
                            <th>Total</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let no = 1; %>
                        <% let total = 0; %>
                        <% let totalBayar = 0; %>
                            <% if(carts !=null) { %>
                                <% carts.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <%= no++ %>
                                        </td>
                                        <td>
                                            <%= element.nama_barang %>
                                        </td>
                                        <td>
                                            <%= element.vendor %>
                                        </td>
                                        <td>
                                            <%= element.jumlah %>
                                        </td>
                                        <td>
                                            Rp<%= element.harga.toLocaleString('id-ID') %>
                                        </td>
                                        <td>
                                            <% total = element.harga * element.jumlah %>
                                            Rp<%= total.toLocaleString('id-ID') %>
                                            <% totalBayar += total %>
                                        </td>
                                        <td>
                                            <form action="/deleteItem?_method=DELETE" method="POST">
                                                <input type="hidden" name="idCart" value="<%= element.idCart %>">
                                                <button type="submit" class="btn btn-danger btn-sm"><i
                                                        class="fas fa-times"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                    </tbody>
                </table>
                <hr>
                <h2 class="text-right"><b>Rp<%= totalBayar.toLocaleString('id-ID') %></b></h2>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->